{% extends "html_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block about %}
<div class="container about-brief-background" style="margin-top:40px">
    <div class="about-brief-title-background">
        <h1 class="text-center about-brief-title">關於我們</h1>
    </div>
    <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-10 col-xs-10 col-lg-offset-0 col-md-offset-0 col-sm-offset-1 col-xs-offset-1">
        
        <div class="about-brief-block">

            <p class="text-center"><span class="glyphicon glyphicon-piggy-bank about-brief-icon" aria-hidden="true"></span></p>

            <!-- 營運企劃 / Business consultant -->
            <h2 class="text-center about-brief-subtitle">營運企劃</h2>
            <p class="text-justify about-brief-content">
            全方位協助客戶創新或改善營運模式，從目標客群訪查到問題分析，腦力激盪提出解決方案，並進一步規劃完整的服務流程；計畫範疇確立後，將建議該計畫所需之團隊、資源、技術、工具；接著，設計核心軟體之規格，建立開發時間表及行銷企劃，估算成本以及初期損益表。
            </p>

        

            <div class="text-center">
                <a href="page-about-business_consultant.html" class="btn btn-rw btn-primary about-brief-button">
                了解更多
                </a>
            </div>

        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-10 col-xs-10 col-lg-offset-0 col-md-offset-0 col-sm-offset-1 col-xs-offset-1">
        
        <div class="about-brief-block">

            <p class="text-center"><span class="glyphicon glyphicon-globe about-brief-icon" aria-hidden="true"></span></p>

            <!-- 網站開發 / Web-base application -->
            <h2 class="text-center about-brief-subtitle">網站開發</h2>
            <p class="text-justify about-brief-content">
            針對客戶需求，規劃短中長期開發計畫，引入PMP國際認證專案管理流程，重視初期之專案範疇界定、以及後期的成果驗收。前端程式採用HTML5、CSS3、javascript；前端框架採用bootstrap、nodeJS；後端採用ROR；資料庫採用mySQL或NOSQL；伺服器安裝於AWS。
            </p>

        

            <div class="text-center">
                <a href="page-about-web_base_application.html" class="btn btn-rw btn-primary about-brief-button">
                了解更多
                </a>
            </div>

        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-10 col-xs-10 col-lg-offset-0 col-md-offset-0 col-sm-offset-1 col-xs-offset-1">

        <div class="about-brief-block">
        
            <p class="text-center"><span class="glyphicon glyphicon-tint about-brief-icon" aria-hidden="true"></span></p>

            <!-- 補助申請 / Research fund apply -->
            <h2 class="text-center about-brief-subtitle">補助申請</h2>
            <p class="text-justify about-brief-content">
            累積多年政府研發補助專案經驗，協助客戶以創新技術或服務申請政府補助。從服務可包含研發或創業主題之設定、分階段申請策略之擬定、計畫書之撰寫、簡報技巧之教學、簽約與管考之協助、結案驗收之輔導，並專業協助政府專案執行中的進度追蹤及會計作業。
            </p>

        

            <div class="text-center">
                <a href="page-about-research_fund_apply.html" class="btn btn-rw btn-primary about-brief-button">
                了解更多
                </a>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}
<!-- ### About-brief end ### -->

